<div class="button-block">
  <button mat-raised-button color="primary" (click)="openUserDialog()">Create user</button>
</div>
<loading [loading]="loading">
  <table mat-table [dataSource]="users" class="users-table mat-elevation-z1">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- No. Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>
    
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="users-grid__email">Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef>Birth Date</th>
      <td mat-cell *matCellDef="let element">{{element.birthDate | date: 'dd.MM.yyyy'}}</td>
    </ng-container>

    <!-- No Data column -->
    <ng-container matColumnDef="no-data">
      <td mat-footer-cell *matFooterCellDef colspan="6" class="users-table__no-data">No data</td>
    </ng-container>    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['no-data']" [class.hidden]="users.length > 0"></tr>
  </table>
</loading>

<mat-paginator  class="pagination-block mat-elevation-z1"
                (page)="changePage($event)"
                [length]="pagination.length"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
