<div class="button-block">
  <button mat-raised-button color="primary" (click)="openCreateUserDialog()">Create user</button>
</div>

<loading [loading]="loading">

  <table  class="users-table mat-elevation-z1"
          mat-table matSort
          [dataSource]="users"
          (matSortChange)="changeSort($event)"
          matSortActive="id"
          matSortDirection="asc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- No. Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>
  
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>
    
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="users-grid__email">Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Birth Date</th>
      <td mat-cell *matCellDef="let element">{{element.birthDate | date: 'mediumDate'}}</td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="users-table__edit-header"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="openEditUserDialog(element)" color="accent"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>

    <!-- No Data column -->
    <ng-container matColumnDef="no-data">
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="users-table__no-data">No data</td>
    </ng-container>    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['no-data']" [class.hidden]="users.length > 0"></tr>
    
  </table>

</loading>

<mat-paginator  class="pagination-block mat-elevation-z1"
                [class.mobile]="mobile"
                (page)="changePage($event)"
                [length]="pagination.length"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
