.users-table {
    width: 100%;
    &__no-data {
        text-align: center;
    }
}

.button-block {
    margin-bottom: 1rem;
    & button:not(:first-child) {
        margin-left: 9px;
    }
}

.users-grid {
    &__email {
        width: 200px;
    }
}