<mat-toolbar class="header-container" color="primary">
    <div class="title">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button> -->
        <h1 class="margin-left">Nest Angular Template</h1>
    </div>
    <nav>
        <button mat-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon><span class="margin-right">Exit</span></button>
        <!-- <button mat-icon-button (click)="logOut()"><mat-icon>exit_to_app</mat-icon></button> -->
    </nav>
</mat-toolbar>
