.header-container {
    display: flex;
    justify-content: space-between;
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        & button {
            margin-left: -8px;
        }
    }
    &__logo {
        margin-right: 0.5rem;
    }
}

h1 {
    display: flex;
    align-items: center;
}