<mat-toolbar class="header-container" color="primary">
    <div class="title">
        <button *ngIf="user.id" mat-icon-button (click)="menuSwitch()" class="margin-right"><mat-icon>menu</mat-icon></button>
        <h1>Nest Angular Template</h1>
    </div>
    <nav>
        <button *ngIf="user.id" mat-button [matMenuTriggerFor]="menu" aria-label="Profile"><mat-icon class="margin-right">account_box</mat-icon><span>{{ user.firstName }} {{ user.lastName }}</span></button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        <button *ngIf="user.id" mat-button (click)="logOut()"><mat-icon class="margin-right">exit_to_app</mat-icon><span>Exit</span></button>
    </nav>
</mat-toolbar>
