:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 400px;
    width: calc(100% - 32px);
    &__field {
        width: 100%;
        margin-bottom: 10px;
    }
    &__submit {
        width: 100%;
    }
    &__register-button {
        margin-top: 30px;
        text-align: center;
    }
}