<mat-card class="register-container">
    <mat-card-content>
    
        <h3>Registration</h3>

        <user-registration [submit]="submit" (result)="resultForm($event)"></user-registration>

        <div class="register-container__field">
            <button class="register-container__submit" [disabled]="loading" (click)="submitForm()" mat-flat-button color="accent">
                <span *ngIf="loading">Processing...</span>
                <span *ngIf="!loading">Register</span>
            </button>
        </div>

        <p class="register-container__login-button">
            <span>Already have an account? </span><a class="brand-link" routerLink="/sign-in">Login</a>
        </p>

    </mat-card-content>
</mat-card>
