<mat-sidenav-container class="nav-container">

    <mat-sidenav    #snav
                    class="nav-container__sidenav-drawer"
                    (click)="toggleMenu()"
                    [mode]="mobile ? 'over' : 'side'"
                    [opened]="mobile ? false : true">

        <mat-nav-list>
            <a mat-list-item routerLink="/home" routerLinkActive="active"><mat-icon class="icon">home</mat-icon>Home</a>
            <a mat-list-item routerLink="/users" routerLinkActive="active"><mat-icon class="icon">people</mat-icon>User Manager</a>
            <hr class="nav-container__list-divider">
            <div mat-subheader>Information</div>
            <a mat-list-item routerLink="/about" routerLinkActive="active"><mat-icon class="icon">info</mat-icon>About Us</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="nav-container__sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
