:host {
    display: flex;
    height: 100%;
}

.mat-nav-list a.active {
    background: rgba(0, 0, 0, .1);
}

.nav-list-divider {
    margin: 8px 0 0;
    height: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}