:host {
    display: flex;
    height: 100%;
}
.mat-nav-list a.active {
    background: rgba(0, 0, 0, .1);
}
// .mat-nav-list h4.subheader {
//     margin: 0;
//     padding: 0 16px;
//     color: rgba(0, 0, 0, .6);
//     &::before {
//         display: inline-block;
//         width: 0;
//         height: 28px;
//         content: "";
//         vertical-align: 0;
//     }
// }