<div class="responsible-container">
    <div class="profile-page">
        <h2>Profile</h2>

        <mat-divider class="profile-page__divider"></mat-divider>

        <div class="profile-page__row">
            <div class="profile-page__name">First Name</div>
            <div class="profile-page__value">{{user?.firstName}}</div>
        </div>
        <div class="profile-page__row">
            <div class="profile-page__name">Last Name</div>
            <div class="profile-page__value">{{user?.lastName}}</div>
        </div>
        <div class="profile-page__row">
            <div class="profile-page__name">Birth Date</div>
            <div class="profile-page__value">{{user?.birthDate | date: 'mediumDate'}}</div>
        </div>

        <mat-divider class="profile-page__divider"></mat-divider>

        <div class="profile-page__row">
            <div class="profile-page__name">Username</div>
            <div class="profile-page__value">{{user?.username}}</div>
        </div>
        <div class="profile-page__row">
            <div class="profile-page__name">Email</div>
            <div class="profile-page__value">{{user?.email}}</div>
        </div>

        <mat-divider class="profile-page__divider"></mat-divider>

        <p>
            <a routerLink="/home">Go To Home</a>
        </p>
    </div>
</div>